@model SurveyWebApplication.Models.Survey

@{
    ViewData["Title"] = "Koda Göre Anket Arama";
}

<h1>Koda Göre Anket Arama</h1>

<h4>Aradığınız anketin kodunu giriniz.</h4>
<hr />
@using (Html.BeginForm())
{
    <input type="text" name="Code" />
    <input type="submit" value="Anketi Bul" />
}

<div>
    <a href="/">Anasayfaya Dön</a>
</div>

