@{
    ViewData["Title"] = "AnaSayfa";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz! Ne Yapmak İstersiniz?</h1>
    <hr />
    <div>
        <a class="btn btn-outline-dark text-xl-center" href="/Surveys/Create">Anket Oluştur</a>
        <a class="btn btn-outline-dark text-xl-center" href="/SurveysForUser/SurveysPage">Ankete Katıl</a>
        <a class="btn btn-outline-dark text-xl-center" href="/SurveysForUser/SurveyCode">Koda Göre Ankete Katıl</a>
    </div>

</div>
